/* {
  border: 2px solid blue;
}
*/
h1,
h2,
h3,
body,
p {
  margin: 0;
}
h1 {
  font-family: "playfair display", serif;
  font-size: 54px;
  font-weight: normal;
}
h3 {
  font-weight: normal;
  font-family: "open sans", sans-serif;
  font-size: 16px;
}

h1 span {
  font-weight: bold;
}
p {
  font-family: "open sans", sans-serif;
}
.profissao {
  font-size: 24px;
}
.t60 {
  color: rgba(0, 0, 0, 0.6);
}
body {
  background-color: #e5e5e5;
}
header {
  background-color: white;
  padding: 32px 64px;
}
.dados {
  display: inline-block;
  margin-bottom: 16px;
}
.foto {
  border: 4px solid #ffc700;
  border-radius: 50%;
  margin-bottom: -120px;
  margin-right: 24px;
}
main {
  padding: 40px 70px;
  display: flex;
}
.coluna-menor {
  margin-top: 48px;
  width: 288px;
}
.linha {
  width: 80px;
  border-top: 2px solid;
  margin-top: 8px;
}
.experiencias .linha {
  border-color: #4200ff;
}
.formacao .linha {
  border-color: #ffc700;
}
.coluna-menor img {
  width: 40px;
  height: 40px;
  border-radius: 4px;
  margin-right: 8px;
}
.coluna-menor li {
  margin-top: 32px;
  display: flex;
}
.conteudo {
  display: inline-block;
}

ul,
ol {
  list-style-type: none;
  padding: 0;
}
.formacao {
  margin-top: 32px;
}
.coluna-maior {
  margin-left: 36px;
}
.coluna-maior h2 {
  font-size: 48px;
  margin-bottom: 20px;
  margin-left: 16px;
}
.habilidade {
  background-color: white;
  border-radius: 16px;
  padding: 24px;
  margin: 12px;
  width: 288px;
}
.habilidade h3 {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 16px:
}
.habilidade p {
  font-size: 20px;
}
.progresso{
  width: 100%;
  display: flex;

}
.barra{
  width: 20%;
  margin-top: 8px;
  height: 4px;
  background-color:#4200ff;
}
.incompleto{
  opacity: 0.2;
}
.habilidade li{
  margin-top: 32px;
}
.habilidade li:first-child{
  margin-top: 0px;
}
.habilidades{
  display: flex;
  flex-wrap: wrap;
}
.projeto{
  width: 392px;
  padding: 24px;
  background-color: white;
  border-radius: 8px;
  margin: 12px;
}
.projetos{
  display: flex;
  flex-wrap: wrap;
}
.projeto h3{
  font-size: 24px;
  font-weight: bold;
}
.projetos p{
  margin-top: 16px;
  margin-bottom: 24px;
}
.projeto a{
  text-decoration:none;
  background-color: #4200ff;
  color:white;
  padding: 8px 24px;
  font-family: "open sans", sans-serif;
  border-radius: 4px;
  font-weight: 600,;
  display:inline-block;
  text-align: center;
  margin-top: 24px;

}
footer{
  background-color: #14004d;
  color:white;
  padding: 57.6px;
text-align:center;
font-family:"open-sans", sans-serif;

}

